* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  width: 100%;
  position: static;
  background-image: linear-gradient(to right, #a855f7, #db2777);
  ul {
    display: flex;
    li {
      padding: 12px;
      list-style-type: none;
    }
    a {
      text-decoration: none;
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  p {
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
  }
}
